parameters:
  paths:
    - src
  level: 8
  ignoreErrors:
    - '#PHPDoc tag @param for parameter \$token with type League\\OAuth2\\Client\\Token\\AccessTokenInterface is not subtype of native type League\\OAuth2\\Client\\Token\\AccessToken.#'
    - identifier: missingType.iterableValue
    - identifier: missingType.generics